{% extends 'email/html/email_base.html' %}
{% block preheader %}Szia! Ne felejtsd, ma lesz a(z) {{ request.title }} forgatás.{% endblock %}
{% block heading %}Mai forgatás{% endblock %}
{% block content %}
    <p style="margin: 0 0 16px">Szia!</p>
    <p style="margin: 0 0 24px">
        Ne felejtsd, ma lesz a(z) <strong style="color: #0f1b2d">{{ request.title }}</strong> forgatás. Egyeztess a többiekkel is.
    </p>

    {% include "email/html/partials/event_card.html" with request=request show_crew=True %}

    {% include "email/html/partials/button.html" with url=request.admin_url label="Részletek" %}
{% endblock %}
{% block signature %}Üdv:<br />Felkéréskezelő robotka{% endblock %}
