{% extends 'email/html/email_base.html' %}
{% block preheader %}Szia! Ma forgatás lesz, ne felejtsd! Egyeztess a többiekkel is.{% endblock %}
{% block heading %}Mai forgatás{% endblock %}
{% block content %}
    <p style="margin: 0 0 16px">Szia!</p>
    <p style="margin: 0 0 24px">
        Ma forgatás lesz, ne felejtsd! Egyeztess a többiekkel is.
    </p>

    {% include "email/html/partials/event_card.html" with request=request show_crew=True %}

    {% include "email/html/partials/button.html" with url=request.admin_url label="Részletek" %}
{% endblock %}
{% block signature %}Üdv:<br />Felkéréskezelő robotka{% endblock %}
