{% extends 'email/html/email_base.html' %}
{% block preheader %}Kedves {{ comment.request.requester.first_name }}! Üzenetet küldtünk a forgatási felkérésedhez.{% endblock %}
{% block heading %}Új üzeneted érkezett{% endblock %}
{% block content %}
    <p style="margin: 0 0 16px">Kedves {{ comment.request.requester.first_name }}!</p>
    <p style="margin: 0 0 24px">
        <strong style="color: #0f1b2d">{{ comment.request.title }}</strong> forgatási felkérésedhez üzenetet küldtünk:
    </p>

    {% include "email/html/partials/comment.html" with comment=comment avatar_url=commenter_avatar_url name=commenter_name %}

    {% include "email/html/partials/button.html" with url=comment.request.url label="Válaszolok" %}
{% endblock %}
