##########################
# Backend settings:
##########################
BACKEND_URL = http://localhost:8000

##########################
# Authentication settings:
##########################
VITE_AUTHSCH_CLIENT_ID = 12183641774864908822
VITE_BSS_CLIENT_ID = Yn93BqJIJX6u5B0wbh0ufuuNPx64piMMKRZBP7iQ
VITE_GOOGLE_CLIENT_ID = 593937386712-8pu2vh1ukq17oidh9f4snkjf9oa88tvb.apps.googleusercontent.com
VITE_MICROSOFT_CLIENT_ID = 0e576fd5-f891-4e67-8738-38eabe902271

##########################
# Other settings:
##########################
VITE_TURNSTILE_SITE_KEY = 1x00000000000000000000AA
